<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <mat-icon>error_outline</mat-icon>
    <span>{{errorTitle || 'Error Occured!'}}</span>
    <button mat-raised-button color="warn" (click)="reload.emit()">Try again</button>
  </div>