<form [formGroup]="userForm" (ngSubmit)="this.userForm.valid && this.addOrUpdateUser()">
    <div fxLayout="column" fxLayoutAlign="center stretch">
        <h3 style="font-weight: 500;" fxLayoutAlign="center center">Update</h3>
        <mat-form-field>
            <input formControlName="email" matInput placeholder="email"/>
            <mat-error>Email is required..!</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="name" matInput placeholder="username"/>
            <mat-error>Email is required..!</mat-error>
        </mat-form-field>
        <button style="margin-top: 10px;" mat-raised-button color="primary" type="submit">{{this.data ? 'Update' : 'Add'}}</button>
    </div>
</form>

