<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="30px">
    <app-user-list *ngIf="!this.loading && !this.error" [users]="this.users"></app-user-list>
    <mat-spinner *ngIf="this.loading"></mat-spinner>
    <app-error (reload)="this.tryAgain()" *ngIf="this.error && !this.loading"></app-error>

    <button *ngIf="!this.loading && !this.error" mat-raised-button color="primary" (click)="adduser()">Add User</button>
  </div> 